* {
	margin: 0px;
	padding: 0px;
}
html, body {
	height: 100%;
}

nav {
	height: 8vh;
	width: 100%;
	max-width: 1600px;
	z-index: 99;
	background-color: rgba(2,2,2,.4);
	box-shadow: inset 5px 5px 25px 5px black;
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
}
h1 {
	font-family: copperplate;
	font-weight: lighter;
	color: white;
	font-size: 5vh;
	margin-left: 5vh;
	margin-right: auto;

}
.navy {
	padding: 0 auto;
	margin-right: 5vh;
	margin-left: auto;
	
}
.navy a {
	font-family: copperplate;
	font-size: 2.5vh;
	color: white;
	text-decoration: none;
	width: 5vh;
	padding-right: 2vh;
}

.navy a:hover {
	color: green;
}

.cardHome:hover {
	transform: rotateX(180deg);
}

.contact1{
	margin-right: 25vh;
}

.section {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.subSection {
	display: flex;
	height: 25%;
	width: 100%;
	background-color: #333;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: copperplate;
	font-weight: 100; 
	box-shadow: inset 5px 5px 155px 5px black;
}

.subSection p {
	color: white;
	font-size: 5vh;
	margin: 2px 55px;
}
.subSection p .author {
	font-size: 3vh;
}
.sectionHome {
	background-image: url(pics/rockyMountainNationalPark.jpg);
	position: relative;
}

.cardHome {
	text-align: center;
	color: white;
	width: 30vh;
	height: 20vh;
	background-color: rgba(4,4,4,.1);
	position: relative;
	top: 34vh;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	box-shadow: inset 5px 5px 155px 5px #333;
	border-radius: 10px;
}
.cardFront, .cardBack {
	position: absolute;
	background-color: rgba(4,4,4,.1);
	top: 0;
	left: 0;
	width: 30vh;
	height: 20vh;
	backface-visibility: hidden;

}
.cardFront {
	display: flex;
	justify-content: center;
}

.cardBack {
	transform:rotateX(180deg);
}
.cardBack h4 {
	font-weight: lighter;
	font-family: copperplate;
	font-size: 2vh;
	margin-top: 2vh;
}

.cardFront h3 {
	font-family: copperplate; 
	font-size: 3vh;
	font-weight: lighter;
	margin: auto;

}


.sectionAbout {
	background-image: url(pics/encanterra.jpg);
	display: flex;

}

.aboutContainer {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	align-content: center;
	align-items
	display: flex;
	justify-content: center;
	margin-top: 10px;

}

.aboutBox {
	display: flex;
	flex-direction: column;
	width: 150vh;
	height: 75vh;
	background-color: rgba(2,2,2,.7);
	color: white;
	font-family:copperplate;
	align-content: center;
	text-align: center;
	justify-content: center;
	padding: 0 10px;
	border-radius: 20px;
}
.aboutBox img {
	height: 15vh;
	width: 15vh;
	border-radius: 30px;
	margin: 0 auto;
}
.aboutBox h2 {
	font-size: 4vh;
	margin-top: 6px;
	margin-bottom: 4px;
}

.aboutBox p {
	font-weight: lighter;
	font-size: 3vh;
}

.portfolio {
	display: flex;
	height: 7vh;
	background-color: #000;
}

.portfolio a {
	display: flex;
	color: white;
	font-size: 22px;
	font-family: copperplate;
	text-decoration: none;
	width: 100%;
	height: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.sectionPortfolio {
	background-color: rgba(2,2,2,.2);
	display: flex;
	height: 225vh;
	flex-wrap: wrap;
	width: 100%;
}

.footerContact {
	color: white;
	font-family: copperplate;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
}

.pics {
	height: 75vh;
	width: 70%;
	background-size: cover;
}

.picInfo {
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 75vh;
	width: 30%;
	background-color: #444;
	box-shadow: inset 5px 5px 155px 5px black;
	color: white;
	text-align: center;
	font-family: copperplate;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.picInfo h5{
	text-decoration: underline;
	font-size: 3vh;
	line-height: 5vh;
	font-weight: 100;
}

.picInfo p {
	font-weight: lighter;
	font-size: 2vh;
}

.rimImage {
	background-image: url(pics/mongollonRim2.jpg);
}

.flagstaffImage {
	background-image: url(pics/flagstaffHump.jpg);
}
.beeImage {
	background-image: url(pics/denverHoneyBee.jpg);
}



footer {
	height: 20vh;
	width: 100%;
	background-color: #282c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: white;
	display: flex;
	flex: wrap;
	justify-content: center;
	align-items: center;
}

footer a img {
	height: 6vh;
	width: 6vh;
	margin-right: 2vh;
}

#socialFooter {
	height: 10vh;
	width: 20vh;
	margin-left: 5vh;
	margin-right: auto;
}

#socialFooter a {
	
	
}
#contactFooter {
	display: flex;
	height: 20vh;
	width: 50vh;
	margin-right: 0vh;
	margin-left: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-left: 2vh;
	border-left: 2px solid white;
}

#contactFooter img {
	height: 10vh;
	width: 10vh;
	border-radius: 10px;
}


#contactFooter h2 {
	font-family: cursive;
	width: 38vh;
	height: 10vh;
	font-size: 3vh;
	padding-left: 2vh;
	justify-content: left;
	align-items: center;
	display: flex;
	
}
#contactFooter h6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: left;
	font-weight: 100;
	font-size: 2vh;
	height: 6vh;
	width: 50vh;
	margin-top: 1vh;
	font-family: copperplate;
}

#contactFooter h6 a {
	color: #999;
}



.footerDeveloper {
	width: 100%;
	height: 5vh;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerDeveloper h4 {
	font-weight: lighter;
	font-family: copperplate;
	font-size: 2vh;
}


