* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: copperplate;
}


nav {
	height: 8vh;
	width: 100%;
	max-width: 1600px;
	z-index: 99;
	background-color: rgba(2,2,2,.4);
	box-shadow: inset 5px 5px 25px 5px black;
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
}
h1 {
	font-family: copperplate;
	font-weight: lighter;
	color: white;
	font-size: 5vh;
	margin-left: 5vh;
	margin-right: auto;

}
.navy {
	padding: 0 auto;
	margin-right: 5vh;
	margin-left: auto;
	
}
.navy a {
	font-family: copperplate;
	font-size: 2.5vh;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
	padding-right: 2vh;
}

.navy a:hover {
	color: green;
}


.portolioContainer {
	background-color: #444;
	width: 100%;
	height: 1276vh;
	flex-wrap: wrap;
	display: flex;
}

.pics {
	height: 75vh;
	width: 70%;
	background-size: cover;
}

.picInfo { 
	display: flex;
	flex-direction: column;
	height: 75vh;
	width: 30%;
	background-color: #444;
	box-shadow: inset 5px 5px 155px 5px black;
	color: white;
	text-align: center;
	font-family: copperplate;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.picInfo h5{
	text-decoration: underline;
	font-size: 3vh;
	font-weight: 100;
}

.picInfo p {
	font-weight: lighter;
	font-size: 2vh;
}



.pic1 {
	background-image: url(pics/bajaMexico.jpg);
	
}
.pic1Info {
	
}

.pic2 {
	background-image: url(pics/flagstaffHump.jpg);

}

.pic2Info {
	
}
.pic3 {
	background-image: url(pics/cibecueCreek.jpg);
	
}

.pic3Info {
	
}
.pic4 {
	background-image: url(pics/coloradoKeystone.jpg);
	
}
.pic4Info {
	
}

.pic5 {
	background-image: url(pics/perseidMeteorShower.jpg);
	
}

.pic5Info {
	
}
.pic6 {
	background-image: url(pics/rockyMountainNationalPark2.jpg);
	
}

.pic6Info {
	
}
.pic7 {
	background-image: url(pics/flagstaffAspensMatt.jpg);
	
}
.pic7Info {
	
}
.pic8 {
	background-image: url(pics/denverHoneyBee.jpg);
	
}
.pic8Info {
	
}
.pic9 {
	background-image: url(pics/denver.jpg);
	
}
.pic9Info {
	
}

.pic10 {
	background-image: url(pics/mesa.jpg);
	
}
.pic10Info {


}

.pic11 {
	background-image: url(pics/mongollonRim.jpg);

}

.pic11Info {
	
}
.pic12 {
	background-image: url(pics/mongollonRim2.jpg);
	
}
.pic12Info {
	
}
.pic13 {
	background-image: url(pics/pike.jpg);

}
.pic13Info {
	
}
.pic14 {
	background-image: url(pics/sanTanValley.jpg);
	
}
.pic15Info {
	
}
.pic15 {
	background-image: url(pics/hartPraire.jpg);
	
}
.pic16 {
	background-image: url(pics/washingtonSwing.jpg);
	
}
.pic16Info {
	
}
.pic17 {
	background-image: url(pics/brothers.jpg);
	
}
.pic17Info {
}



footer {
	height: 20vh;
	width: 100%;
	background-color: #282c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: white;
	display: flex;
	flex: wrap;
	justify-content: center;
	align-items: center;
}

footer a img {
	height: 6vh;
	width: 6vh;
	margin-right: 2vh;
}

#socialFooter {
	height: 10vh;
	width: 20vh;
	margin-left: 5vh;
	margin-right: auto;
}

#socialFooter a {
	
	
}
#contactFooter {
	display: flex;
	height: 20vh;
	width: 50vh;
	margin-right: 0vh;
	margin-left: auto;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-left: 2vh;
	border-left: 2px solid white;
}

#contactFooter img {
	height: 10vh;
	width: 10vh;
	border-radius: 10px;

}

#contactFooter h2 {
	font-family: cursive;
	width: 38vh;
	height: 10vh;
	font-size: 3vh;
	padding-left: 2vh;
	justify-content: left;
	align-items: center;
	display: flex;
	
}
#contactFooter h6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: left;
	font-weight: 100;
	font-size: 2vh;
	height: 6vh;
	width: 50vh;
	margin-top: 1vh;
	font-family: copperplate;
}

#contactFooter h6 a {
	color: #999;
}


.footerDeveloper {
	width: 100%;
	height: 5vh;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerDeveloper h4 {
	font-weight: lighter;
}










